.challenges-section {
  background: #292945;

  @include media(desktop) {
  }
}

.challenges-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.challenges-container {
  @include media(desktop) {
  }
}

.challenges-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
  }
}

.challenges-text-wrapper {
  background: #181727;
  border-radius: 12px 12px 0 0;
  padding: 40px 16px;

  @include media(desktop) {
    border-radius: 0 12px 12px 0;
    padding: 64px 40px;
    max-width: 608px;
  }
}

.challenges-title {
  @include media(desktop) {
  }
}

.challenges-subtitle {
  @include media(desktop) {
  }
}

.challenges-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #afb0dc;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.challenges-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
  padding-left: 25px;
  color: #fff;

  @include media(desktop) {
  }
}

.challenges-list-item {
  @include media(desktop) {
  }
}

.challenges-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.challenges-img {
  @include media(desktop) {
    min-width: 645px;
  }
}
