.contact-section {
  background: linear-gradient(90deg, #5c9ddd 0%, #a479ed 100%);

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 52px;
  }
}

.contact-link {
  background: #fff;
  border-radius: 12px;
  padding: 17px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #181727;
  word-break: break-all;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
  }
}

.arrow-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: #c5c5c9;

  @include media(desktop) {
  }
}
