.gallery-section {
  background: #292945;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gallery-container {
}

.gallery-title {
  text-align: center;

  @include media(desktop) {
  }
}

.gallery-subtitle {
  text-align: center;

  @include media(desktop) {
  }
}

.gallery-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #afb0dc;
  margin-bottom: 56px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}

.gallery-swiper-container {
  max-width: 304px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 304px;

  @include media(desktop) {
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
