.context-menu {
  background: #181727;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;

  &:active {
    color: #62d9e0;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
