.policy-section {
  background: #292945;
  padding-top: 112px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 200px;
    padding-bottom: 120px;
  }
}

.policy-main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 52px;
  }
}

.policy-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 22px;
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
  }
}

.policy-span {
  color: #6c91ff;
}

.policy-link {
  color: #6c91ff;
  word-wrap: break-word;
}
