<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">GAME OVERVIEW</h2>
        <p class="section-subtitle about-subtitle">CORE IDEA</p>
        <div class="about-text-wrapper">
          <p class="about-text">
            So basically, Space Shooter is this super clean arcade game we built
            just for Wear OS watches.
          </p>
          <p class="about-text">
            You're flying this cool little ship, shooting your way through tons
            of stuff trying to kill you - and the controls just make sense, you
            know?
          </p>
          <p class="about-text">
            Look, I'm so tired of games with a million menus and stats nobody
            cares about. We just wanted something that gets your heart pumping
            right away.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="392" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="317"
            height="194" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="317"
            height="194"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
