<section class="section challenges-section" id="challenges">
  <div class="challenges-bg-wrapper">
    <div class="container challenges-container">
      <div class="challenges-content-wrapper">
        <div class="challenges-text-wrapper">
          <h2 class="section-title challenges-title">ENEMIES & CHALLENGES</h2>
          <p class="section-subtitle challenges-subtitle">WHAT YOU FACE</p>
          <p class="challenges-text">
            Just when you think you've got the hang of it, BAM - the game
            decides to mess with you. It's like it knows exactly when you're
            getting cocky.
          </p>
          <ul class="challenges-list">
            <li class="challenges-list-item">
              <p class="challenges-item-text">Incoming asteroid fields</p>
            </li>
            <li class="challenges-list-item">
              <p class="challenges-item-text">
                Hostile drones with simple firing patterns
              </p>
            </li>
            <li class="challenges-list-item">
              <p class="challenges-item-text">
                Speed variations and wave formations
              </p>
            </li>
            <li class="challenges-list-item">
              <p class="challenges-item-text">Increasing challenge over time</p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/challenges/challenges-img-desk.png"
            media="(min-width: 1440px)"
            width="645"
            height="488" />
          <source
            srcset="./img/challenges/challenges-img-mob.png"
            width="343"
            height="259" />
          <img
            class="challenges-img"
            src="./img/challenges/challenges-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="259"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
