<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <picture>
          <source
            srcset="./img/cta/cta-img-mob.png"
            media="(min-width: 1440px)"
            width="282"
            height="282" />
          <source srcset="./img/cta/cta-img-mob.png" width="161" height="162" />
          <img
            class="cta-img"
            src="./img/cta/cta-img-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="162"
            loading="lazy"
        /></picture>
        <div class="cta-text-wrapper">
          <h2 class="section-title cta-title">DOWNLOAD</h2>
          <p class="section-subtitle cta-subtitle">GET IT NOW</p>
          <p class="cta-text">
            Think you can handle dodging space rocks while aliens are trying to
            blow you up? We'll see about that. Download it now and find out!
          </p>
          <a
            class="hero-btn cta-btn"
            href="https://play.google.com/store/apps/details?id=com.renderedideas.spaceshooter.wearos"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="btn-inner">
              <svg class="playstore-icon" width="30" height="34">
                <use href="./img/sprite.svg#icon-playstore"></use>
              </svg>
              <div class="hero-btn-text-wrapper">
                <p class="her-btn-top-text">GET IT ON</p>
                <p class="her-btn-bottom-text">Google Play</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
