<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <h2 class="section-title experience-title">PLAY SESSIONS</h2>
        <p class="section-subtitle experience-subtitle">NATURAL RHYTHM</p>
        <div class="experience-text-wrapper">
          <p class="experience-text">
            Echo Rune Quest naturally fits into the way you play, not the other
            way around. It works just as well for quick moments between things
            as it does for longer, more focused sessions.
          </p>
          <p class="experience-text">
            The game is easy to pick up, but there’s always room to improve.
            Each run feels familiar yet slightly different, encouraging replay
            without pressure or urgency.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/experience/experience-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="392" />
          <source
            srcset="./img/experience/experience-img-mob.png"
            width="317"
            height="195" />
          <img
            class="experience-img"
            src="./img/experience/experience-img-mob.png"
            alt="Screenshot of the game"
            width="317"
            height="195"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
