<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="740"
            height="300" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="249"
            height="101" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="249"
            height="101"
        /></picture>
        <p class="hero-text">
          So we took all the best parts of those classic arcade shooters and
          somehow squeezed 'em onto your watch. Yeah, I know how that sounds,
          but trust me on this. The controls are stupid simple, but holy crap
          does this thing get intense!
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.larasjourney3.game&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
