<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <h2 class="section-title play-title">HOW TO PLAY</h2>
      <p class="section-subtitle play-subtitle">CONTROLS & INTERACTION</p>
      <p class="play-text">
        It's perfect when you're waiting for the bus or pretending to look busy
        at work - you know, those random moments when you need something to do.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img1.png"
            alt="Screenshot of the game"
            width="155"
            height="194"
          />
          <p class="play-item-text">Watch-Tuned Controls</p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img2.png"
            alt="Screenshot of the game"
            width="109"
            height="194"
          />
          <p class="play-item-text">Tap to fire projectiles</p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img3.png"
            alt="Screenshot of the game"
            width="86"
            height="194"
          />
          <p class="play-item-text">Swipe to dodge enemy fire</p>
        </li>
        <li class="play-list-item">
          <img
            class="play-img"
            src="./img/play/play-img4.png"
            alt="Screenshot of the game"
            width="125"
            height="194"
          />
          <p class="play-item-text">Drag to steer the ship through obstacles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
