<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <h2 class="section-title progression-title">PROGRESSION & ACHIEVEMENT</h2>
      <p class="section-subtitle progression-subtitle">KEEP FLYING</p>
      <p class="progression-text">
        Space Shooter doesn’t bog you down with menus — it rewards performance
        with visual flair.
      </p>
      <ul class="progression-list">
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img1.png"
            alt="Screenshot of the game"
            width="72"
            height="82"
          />
          <p class="progression-item-text">
            Survive longer to unlock new color schemes
          </p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img2.png"
            alt="Screenshot of the game"
            width="72"
            height="82"
          />
          <p class="progression-item-text">Track your best sessions</p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img3.png"
            alt="Screenshot of the game"
            width="72"
            height="82"
          />
          <p class="progression-item-text">
            Small visual feedback on close calls
          </p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img4.png"
            alt="Screenshot of the game"
            width="72"
            height="82"
          />
          <p class="progression-item-text">Achievements that record top runs</p>
        </li>
      </ul>
    </div>
  </div>
</section>
